<div class="header">
  <div class="top">
     <button class="logout" mat-mini-fab color="basic" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
    <h1>Notesz</h1>
  </div>
 
  <div class = "menubar">
    <button class="navbut" mat-raised-button color="Accent" (click)="notesButton()">Bejegyzések</button>
    <button class="navbut" mat-raised-button color="Accent"  (click)="catPrioButton()">Kategóriák és Prioritások</button>
  </div>
</div>


<router-outlet></router-outlet>

<div class="footer">
  <h4>Uj Balázs, 2022</h4>
</div>
