<div class="page">
 <div class="cat">

  <h2>Kategóriák</h2>


    <button mat-raised-button (click)="newCat(); this.catValid = false"  color="Accent">Új elem</button>

    <mat-card *ngIf="catEditorShow == true"  class="editor">
        <mat-card-header>
          <mat-card-title>Kategória létrehozása</mat-card-title>
        </mat-card-header>
            <mat-form-field class="cat">
              <mat-label>Kategória</mat-label>
              <input matInput [(ngModel)] = "catName" placeholder="Kategória">
            </mat-form-field>
            <p *ngIf="this.catValid == true" class="valid">Töltsd ki a mezőt!</p>
        <mat-card-actions>
          <button mat-button (click)="saveCat()" class="save">Mentés</button>
          <button mat-button (click)="this.catEditorShow = false; this.catName = ''; this.prioValid = false" class="cancel">Mégse</button>
        </mat-card-actions>
      </mat-card>
    <mat-divider></mat-divider>


    <div class="container">
        <mat-card *ngFor="let i of categories" class="item">
              <mat-card-title>{{i.name}}</mat-card-title>
              <button mat-button (click)="deleteCat(i.id.toString())" class="cancel">Törlés</button>
          </mat-card>
    </div>


 </div>

 <mat-divider [vertical]="true"></mat-divider>

 <div class="prio">

  <h2>Prioritások</h2>

    <button mat-raised-button (click)="newPrio(); this.prioValid = false" color="Accent">Új elem</button>

    <mat-card *ngIf="prioEditorShow == true"  class="editor">
        <mat-card-header>
          <mat-card-title>Prioritás létrehozása</mat-card-title>
        </mat-card-header>
            <mat-form-field class="prio">
              <mat-label>Prioritás</mat-label>
              <input [(ngModel)] = "prioName" matInput placeholder="Prioritás">
            </mat-form-field>
            <p *ngIf="this.prioValid == true" class="valid">Töltsd ki a mezőt!</p>
        <mat-card-actions>
          <button mat-button (click)="savePrio()" class="save">Mentés</button>
          <button mat-button (click)="this.prioEditorShow = false; this.prioName = ''; this.prioValid = false" class="cancel">Mégse</button>
        </mat-card-actions>
      </mat-card>
    <mat-divider></mat-divider>


 <div class="container">
    <mat-card *ngFor="let i of priorities" class="item">
        <mat-card-title>{{i.name}}</mat-card-title>
        <button mat-button (click)="deletePrio(i.id.toString())" class="cancel">Törlés</button>
    </mat-card>
    </div>

 </div>

 <mat-card [@animation] *ngIf="showBar == true" class="snackbar">
  Sikeres művelet!
 </mat-card>

</div>
