<div class="page">

    <mat-card>
        
        <h2>Jelentkezz be vagy regisztrálj!</h2>
       
        <mat-form-field appearance="outline">
            <mat-label>Felhasználónév</mat-label>
            <input [(ngModel)]="name" matInput >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Jelszó</mat-label>
            <input [(ngModel)]="password" type="password" matInput >
          </mat-form-field>
          <p class="valid" *ngIf="valid == false">Tölts ki minden mezőt!</p>
          <p  class="valid"*ngIf="loginError == true">Hibás bejelentkezési adatok!</p>
          <p class="valid" *ngIf="registerError == true">Felhasználónév foglalt!</p>
          <p class="registered" *ngIf="registered == true">Sikeres regisztráció!</p>

          <button mat-raised-button color="Accent" (click)="login()" >Bejelentkezés</button>
          <button mat-raised-button color="Accent" (click)="register()" >Regisztráció</button>
                
    </mat-card>

</div>

