<div class="page">

  <h2>Bejegyzéseim</h2>

    <button mat-raised-button (click)="newNote()" color="Accent">Új elem</button>

    <mat-card *ngIf="showEditor == true" class="editor">
        <mat-card-header>
          <mat-card-title>Bejegyzés készítése / szerkesztése</mat-card-title>
        </mat-card-header>
         <div class="selects">
        <mat-form-field appearance="fill">
            <mat-label>Kategóriák</mat-label>
            <mat-select [(ngModel)]="selectedCats" [multiple]="true">
              <mat-option *ngFor="let i of categories" [value]="i">
                {{i.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Prioritás</mat-label>
          <mat-select [(ngModel)]="selectedPrio">
            <mat-option *ngFor="let i of priorities" [value]="i">
              {{i.name}}
            </mat-option>
          </mat-select>
         </mat-form-field>
        </div>
            <textarea [(ngModel)]="text" matInput placeholder="Ide írd a szöveget..."></textarea>
        <mat-card-actions>
          <button mat-button (click)="saveNotes()" class="save">Mentés</button>
          <button mat-button (click)="cancelEdit()" class="cancel">Mégse</button>
        </mat-card-actions>
      </mat-card>

      <mat-divider></mat-divider>

      <div class="mid">
      <div class="container">
      <mat-card *ngFor="let i of notes" class="card">
       <div class="catcontainer">
        <mat-card-subtitle *ngFor="let j of i.categories" class="cat">{{j.name}}</mat-card-subtitle>
       </div>
          <mat-card-subtitle>{{i.priority.name}}</mat-card-subtitle>
        <mat-card-content>
            <p>
              {{i.text}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="editbutton">Szerkesztés</button>
            <button mat-button  class="cancel">Törlés</button>
          </mat-card-actions>
      </mat-card>
    </div>
</div>
</div>

